<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>
    Изменение информации о музыке
  </title>
</head>
<body>
<div layout:fragment="content">
  <div th:text="${errors}" class="margin-bottom alert-danger"></div>
  <form action="#" th:action="@{/music/{id}(id=${id})}" th:object="${musicDto}" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Название</label>
      <input type="text" class="form-control" id="name" th:field="${musicDto.name}" required="true">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Автор</label>
      <input type="text" class="form-control" id="author" th:field="${musicDto.author}" required="true">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary button-fixed">
        <span th:if="${id == null}">Добавить</span>
        <span th:if="${id != null}">Обновить</span>
      </button>
      <a class="btn btn-secondary button-fixed" th:href="@{/music}">
        Назад
      </a>
    </div>
  </form>
</div>
</body>
</html>