<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>
        Изменение страницы
    </title>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/userProfile/{id}(id=${id})}" th:object="${userProfileDto}" method="post">
        <div class="mb-3">
            <label for="fio" class="form-label">Имя</label>
            <input type="text" class="form-control" id="fio" th:field="${userProfileDto.name}" required="true">
        </div>
        <div class="mb-3">
            <label for="salary" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="salary" th:field="${userProfileDto.surname}" required="true">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/userProfile}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>